
		<ion-header>
			<ion-toolbar color="primary">
				<ion-title><ion-icon name="paper"></ion-icon>Menu</ion-title>
			</ion-toolbar>
		</ion-header>
		
		<ion-content>
			<ion-list>
				<ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
					<ion-item routerLink={{p.url}} routerDirection="root" >
						<ion-label>
						<ion-icon name={{p.icon}} slot="start"></ion-icon>
							{{p.title}}
						</ion-label>
					</ion-item>
				</ion-menu-toggle>
				<ion-item tappable routerLink="/login" routerDirection="root">
					<ion-icon name="log-out" ></ion-icon>Logout
				</ion-item>
			</ion-list>
	</ion-content>