<ion-header>
  <ion-toolbar color="primary">
	<ion-button >
		  <ion-back-button color = "dark" defaultHref="/menu"></ion-back-button>
	</ion-button>
    <ion-title>
	<ion-icon name="calendar" ></ion-icon>
	Appointment
	
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
		<ion-button expand="block" (click)="search()">Get Appointment</ion-button>
  <ion-list>
    <ion-item button *ngFor="let item of results" [routerLink]="['/', 'appointment', item.id]">
    
    <ion-label text-wrap>
      <h3>{{ item.email}}</h3>
    </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
